.vscode

bin/*

chaincode/csrcc/go/vendor

CSR_Express/node_modules
CSR_Express/wallet-corporate
CSR_Express/wallet-creditsauthority
CSR_Express/wallet-ngo
CSR_Express/wallet-org1
CSR_Express/wallet-org2
CSR_Express/wallet-org3
CSR_Express/package-lock.json

*.tar.gz
*.log

test-network/log.txt

test-network/organizations/fabric-ca/*/msp

test-network/organizations/ordererOrganizations/csr.com/msp/cacerts
test-network/organizations/ordererOrganizations/csr.com/msp/keystore
test-network/organizations/ordererOrganizations/csr.com/msp/signcerts
test-network/organizations/ordererOrganizations/csr.com/msp/tlscacerts
test-network/organizations/ordererOrganizations/csr.com/msp/user

test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/msp/cacerts
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/msp/keystore
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/msp/signcerts
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/msp/tlscacerts
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/msp/user

test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/tls/cacerts
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/tls/keystore
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/tls/signcerts
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/tls/tlscacerts
test-network/organizations/ordererOrganizations/csr.com/orderers/orderer.csr.com/tls/user

test-network/organizations/ordererOrganizations/csr.com/users

test-network/organizations/peerOrganizations

test-network/system-genesis-block/*

#fabric-ca related files & folders
# 1. for orderer
test-network/organizations/fabric-ca/orderer/msp
test-network/organizations/fabric-ca/orderer/tls-cert.pem
test-network/organizations/fabric-ca/orderer/ca-cert.pem
test-network/organizations/fabric-ca/orderer/IssuerPublicKey
test-network/organizations/fabric-ca/orderer/IssuerRevocationPublicKey
test-network/organizations/fabric-ca/orderer/fabric-ca-server.db

# 2. for corporate
test-network/organizations/fabric-ca/corporate/msp
test-network/organizations/fabric-ca/corporate/tls-cert.pem
test-network/organizations/fabric-ca/corporate/ca-cert.pem
test-network/organizations/fabric-ca/corporate/IssuerPublicKey
test-network/organizations/fabric-ca/corporate/IssuerRevocationPublicKey
test-network/organizations/fabric-ca/corporate/fabric-ca-server.db

# 3. for ngo
test-network/organizations/fabric-ca/ngo/msp
test-network/organizations/fabric-ca/ngo/tls-cert.pem
test-network/organizations/fabric-ca/ngo/ca-cert.pem
test-network/organizations/fabric-ca/ngo/IssuerPublicKey
test-network/organizations/fabric-ca/ngo/IssuerRevocationPublicKey
test-network/organizations/fabric-ca/ngo/fabric-ca-server.db

# 4. for ca
test-network/organizations/fabric-ca/creditsauthority/msp
test-network/organizations/fabric-ca/creditsauthority/tls-cert.pem
test-network/organizations/fabric-ca/creditsauthority/ca-cert.pem
test-network/organizations/fabric-ca/creditsauthority/IssuerPublicKey
test-network/organizations/fabric-ca/creditsauthority/IssuerRevocationPublicKey
test-network/organizations/fabric-ca/creditsauthority/fabric-ca-server.db

CSR_Express/.nyc_output
CSR_Express/.env

CSR_Express\.scannerwork
.scannerwork